body{
  background-color: #282c34;
  color: white;
  height: 100%;
}

.container {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
h1 {
  margin: 30px;
  font-family: 'Cinzel', serif;
  font-size: 36px;
  display: flex;
  justify-content: center;
}
